In [1]:
import pandas as pd

In [21]:
df = pd.read_csv('selected_features.csv').drop('Unnamed: 0', axis=1)

In [24]:
df

,reviewerFriendCount,reviewerNumReviews,reviewerFirstCount,reviewerUsefulCount,reviewerCoolCount,reviewerFunnyCount,reviewerComplimentCount,reviewerTipCount,reviewerFanCount,EMAIL_ADDRESS_count,...,reviewRating_2,DATE_TIME,EMAIL_ADDRESS,NRP,LOCATION,PERSON,PHONE_NUMBER,clean_tokens,preprocessed,flagged
0,0.002337,0.018008,0.018008,0.001885,0.000254,0.000279,0.000050,0.000000,0.001563,0.0,...,0,"['the previous night', 'four hours and thirty-...",[],['English'],[],"['Willy Wonka', 'Mickey', 'Minnie Mouse', 'Jac...",[],"['unlike', 'next', 'eaten', 'previous', 'night...","['unlike', 'next', 'wed', 'eaten', 'previous',...",0
1,0.000000,0.001149,0.001149,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0,"['an evening', 'a least 4 hours']",[],[],[],['Grant Achatz'],[],"['probably', 'one', 'best', 'meals', 'ever', '...","['probably', 'one', 'best', 'meal', 'ive', 'ev...",0
2,0.000425,0.003831,0.003831,0.000276,0.000000,0.000056,0.000000,0.000000,0.000000,0.0,...,0,[],[],[],[],[],[],"['service', 'impeccable', 'experience', 'prese...","['service', 'impeccable', 'experience', 'prese...",0
3,0.017850,0.022605,0.022605,0.001609,0.000406,0.000335,0.000150,0.005078,0.000000,0.0,...,0,['5 seconds'],[],[],[],"['Jackson Pollock', 'Grant Achatz']",[],"['problem', 'places', 'like', 'given', 'exhorb...","['problem', 'place', 'like', 'given', 'exhorbi...",0
4,0.070761,0.462835,0.462835,0.075869,0.034472,0.023258,0.007082,0.010157,0.109375,0.0,...,0,['a few days'],[],['American'],['Chicago'],[],[],"['idea', 'write', 'review', 'dining', 'alinea'...","['idea', 'write', 'review', 'dining', 'alinea'...",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26951,0.006587,0.062835,0.062835,0.009242,0.002843,0.000948,0.000601,0.000000,0.004687,0.0,...,0,[],[],[],[],[],[],"['taco', 'bell', 'higher', 'prices', 'taco', '...","['taco', 'bell', 'higher', 'price', 'taco', 'b...",0
26952,0.001275,0.003831,0.003831,0.000322,0.000102,0.000000,0.000025,0.000000,0.001563,0.0,...,0,"['every day', 'Sundays']",[],[],[],[],[],"['yellow', 'rose', 'favorite', 'mine', 'go', '...","['yellow', 'rose', 'favorite', 'mine', 'id', '...",0
26953,0.002762,0.018391,0.018391,0.002667,0.000457,0.000558,0.000175,0.000462,0.001563,0.0,...,0,[],[],[],[],[],[],"['bad', 'ate', 'odd', 'wicker', 'seats', 'invi...","['bad', 'ate', 'odd', 'wicker', 'seat', 'invit...",0
26954,0.002762,0.018391,0.018391,0.002667,0.000457,0.000558,0.000175,0.000462,0.001563,0.0,...,0,[],[],[],[],[],[],"['surprised', 'eagerly', 'roped', 'pop', 'triv...","['surprised', 'eagerly', 'roped', 'pop', 'triv...",0
26955,0.002762,0.004981,0.004981,0.000230,0.000102,0.000223,0.000150,0.006464,0.000000,0.0,...,0,[],[],[],[],[],[],"['gorgeous', 'shy', 'young', 'teen', 'asked', ...","['gorgeous', 'shy', 'young', 'teen', 'asked', ...",0

In [23]:
df.columns

Index(['reviewerFriendCount', 'reviewerNumReviews', 'reviewerFirstCount',
       'reviewerUsefulCount', 'reviewerCoolCount', 'reviewerFunnyCount',
       'reviewerComplimentCount', 'reviewerTipCount', 'reviewerFanCount',
       'EMAIL_ADDRESS_count', 'NRP_count', 'PERSON_count',
       'date_diff_joinedandreviewed', 'Num_Char', 'Num_Punc', 'verb_count',
       'adj_count', 'polarity', 'reviewRating_1', 'reviewRating_2',
       'DATE_TIME', 'EMAIL_ADDRESS', 'NRP', 'LOCATION', 'PERSON',
       'PHONE_NUMBER', 'clean_tokens', 'preprocessed', 'flagged'],
      dtype='object')